/* BASE.css

  * All base page CSS styles are here.

 */



/* Base page */
body, html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  height: 100%;
  background-color: white;
  color: black;
}



/* BACKGROUNDS */

.bg-custom { background-color: black !important; }
.bg-black { background-color: black !important; }
.bg-white { background-color: white !important; }
.bg-grey { background-color: grey !important; }
.bg-green { background-color: #00FF7F !important; }
.bg-blue { background-color: blue !important; }
.bg-light-blue { background-color: #00bfff !important; }
.bg-red { background-color: red !important; }
.bg-dark-red { background-color: darkred !important; }
.bg-orange { background-color: orange !important; }
.bg-yellow { background-color: yellow !important; }

.bg-center { background-position: center center; }
.bg-no-repeat { background-repeat: no-repeat; }
.border-top { border-top: 1px solid #333333; }
.border-bottom { border-bottom: 1px solid #333333; }

.bg-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
}

.bg-contain {
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

.bg-image {
  background: no-repeat center fixed; 

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
}

.background-image {
  background: no-repeat center center;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}



/* TEXT */

.black { color: black !important; }
.white { color: white !important; }
.grey { color: grey !important; }
.green { color: #00FF7F !important; }
.blue { color: blue !important; }
.light-blue { color: #00bff !importantf; }
.red { color: red !important; }
.dark-red { color: darkred !important; }
.orange { color: orange !important; }
.yellow { color: yellow !important; }

.line-thru { text-decoration: line-through; }
.no-decoration { text-decoration: none; }

.align-middle { vertical-align: middle; }
.align-top { vertical-align: top; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.center { text-align: center; }

.normal { font-weight: normal; }
.bold { font-weight: bold; }
.italic { font-weight: italic; }



/* BOXES */

.no-margin { margin: 0; }

.m1-2 { margin: 0.5em; }
.mt1-2 { margin-top: 0.5em; }
.mr1-2 { margin-right: 0.5em; }
.mb1-2 { margin-bottom: 0.5em; }
.ml1-2 { margin-left: 0.5em; }
.mx1-2 { margin-left: 0.5em; margin-right: 0.5em; }
.my1-2 { margin-top: 0.5em; margin-bottom: 0.5em; }

.m1 { margin: 1em; }
.mt1 { margin-top: 1em; }
.mr1 { margin-right: 1em; }
.mb1 { margin-bottom: 1em; }
.ml1 { margin-left: 1em; }
.mx1 { margin-left: 1em; margin-right: 1em; }
.my1 { margin-top: 1em; margin-bottom: 1em; }

.m2 { margin: 2em; }
.mt2 { margin-top: 2em; }
.mr2 { margin-right: 2em; }
.mb2 { margin-bottom: 2em; }
.ml2 { margin-left: 2em; }
.mx2 { margin-left: 2em; margin-right: 2em; }
.my2 { margin-top: 2em; margin-bottom: 2em; }

.m3 { margin: 3em; }
.mt3 { margin-top: 3em; }
.mr3 { margin-right: 3em; }
.mb3 { margin-bottom: 3em; }
.ml3 { margin-left: 3em; }
.mx3 { margin-left: 3em; margin-right: 3em; }
.my3 { margin-top: 3em; margin-bottom: 3em; }

.m4 { margin: 4em; }
.mt4 { margin-top: 4em; }
.mr4 { margin-right: 4em; }
.mb4 { margin-bottom: 4em; }
.ml4 { margin-left: 4em; }
.mx4 { margin-left: 4em; margin-right: 4em; }
.my4 { margin-top: 4em; margin-bottom: 4em; }

.m6 { margin: 6em; }
.mt6 { margin-top: 6em; }
.mr6 { margin-right: 6em; }
.mb6 { margin-bottom: 6em; }
.ml6 { margin-left: 6em; }
.mx6 { margin-left: 6em; margin-right: 6em; }
.my6 { margin-top: 6em; margin-bottom: 6em; }

.m8 { margin: 8em; }
.mt8 { margin-top: 8em; }
.mr8 { margin-right: 8em; }
.mb8 { margin-bottom: 8em; }
.ml8 { margin-left: 8em; }
.mx8 { margin-left: 8em; margin-right: 8em; }
.my8 { margin-top: 8em; margin-bottom: 8em; }

.m10 { margin: 10em; }
.mt10 { margin-top: 10em; }
.mr10 { margin-right: 10em; }
.mb10 { margin-bottom: 10em; }
.ml10 { margin-left: 10em; }
.mx10 { margin-left: 10em; margin-right: 10em; }
.my10 { margin-top: 10em; margin-bottom: 10em; }

.no-padding { padding: 0; }

.p1-2 { padding: 0.5em; }
.pt1-2 { padding-top: 0.5em; }
.pr1-2 { padding-right: 0.5em; }
.pb1-2 { padding-bottom: 0.5em; }
.pl1-2 { padding-left: 0.5em; }
.px1-2 { padding-left: 0.5em; padding-right: 0.5em; }
.py1-2 { padding-top: 0.5em; padding-bottom: 0.5em; }

.p1 { padding: 1em; }
.pt1 { padding-top: 1em; }
.pr1 { padding-right: 1em; }
.pb1 { padding-bottom: 1em; }
.pl1 { padding-left: 1em; }
.px1 { padding-left: 1em; padding-right: 1em; }
.py1 { padding-top: 1em; padding-bottom: 1em; }

.p2 { padding: 2em; }
.pt2 { padding-top: 2em; }
.pr2 { padding-right: 2em; }
.pb2 { padding-bottom: 2em; }
.pl2 { padding-left: 2em; }
.px2 { padding-left: 2em; padding-right: 2em; }
.py2 { padding-top: 2em; padding-bottom: 2em; }

.p3 { padding: 3em; }
.pt3 { padding-top: 3em; }
.pr3 { padding-right: 3em; }
.pb3 { padding-bottom: 3em; }
.pl3 { padding-left: 3em; }
.px3 { padding-left: 3em; padding-right: 3em; }
.py3 { padding-top: 3em; padding-bottom: 3em; }

.p4 { padding: 4em; }
.pt4 { padding-top: 4em; }
.pr4 { padding-right: 4em; }
.pb4 { padding-bottom: 4em; }
.pl4 { padding-left: 4em; }
.px4 { padding-left: 4em; padding-right: 4em; }
.py4 { padding-top: 4em; padding-bottom: 4em; }

.p6 { padding: 6em; }
.pt6 { padding-top: 6em; }
.pr6 { padding-right: 6em; }
.pb6 { padding-bottom: 6em; }
.pl6 { padding-left: 6em; }
.px6 { padding-left: 6em; padding-right: 6em; }
.py6 { padding-top: 6em; padding-bottom: 6em; }

.p8 { padding: 8em; }
.pt8 { padding-top: 8em; }
.pr8 { padding-right: 8em; }
.pb8 { padding-bottom: 8em; }
.pl8 { padding-left: 8em; }
.px8 { padding-left: 8em; padding-right: 8em; }
.py8 { padding-top: 8em; padding-bottom: 8em; }

.p10 { padding: 10em; }
.pt10 { padding-top: 10em; }
.pr10 { padding-right: 10em; }
.pb10 { padding-bottom: 10em; }
.pl10 { padding-left: 10em; }
.px10 { padding-left: 10em; padding-right: 10em; }
.py10 { padding-top: 10em; padding-bottom: 10em; }

.width-10 { width: 10%; }
.width-15 { width: 15%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }
.width-80 { width: 80%; }
.full-width { width: 100%; }

.height-10 { height: 10%; }
.height-15 { height: 15%; }
.height-20 { height: 20%; }
.height-25 { height: 25%; }
.height-50 { height: 50%; }
.height-75 { height: 75%; }
.height-80 { height: 80%; }
.full-height { height: 100%; }

.relative { position: relative; }
.absolute, .absolute-top-left, .absolute-top-right, .absolute-bottom-left, .absolute-bottom-right { position: absolute; }
.fixed { position: fixed; }

.t0 { top: 0px; }
.l0 { left: 0px; }
.r0 { right: 0px; }
.b0 { bottom: 0px; }

.absolute-top-left {
  top: 0px;
  left: 0px; 
}

.absolute-top-right {
  top: 0px;
  right: 0px; 
}

.absolute-bottom-left {
  bottom: 0px;
  left: 0px; 
}

.absolute-bottom-right {
  bottom: 0px;
  right: 0px; 
}

.hide { display: none; }
.inline-block { display: inline-block; }
.block { display: block; }

.col-center{
  float: none;
  margin: 0 auto;
}

.mobile-table {
  display: table;
  table-layout: fixed;
  width: 100%; 
}

.mobile-table-cell {
  display: table-cell;
  vertical-align: middle; 
}
