/* HOME.css

  * All CSS styles for the HOME page are here.

*/



/* Backgrounds */
#home { background-color: black !important; }
#now { background-image: url(../images/green.jpg) !important; }
#experience { background-image: url(../images/knowledge.jpg) !important; }
#projects { background-image: url(../images/red.jpg) !important; }
#achievements { background-image: url(../images/orange.jpg) !important; }
#misc { background-image: url(../images/blue.jpg) !important; }
#contact { background-color: black !important; }
